*{
    margin: 0px;
    padding: 0px;
}

h1{
    background-color: #081b31;
    color: white;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice{
    height: 160px;
    width: 200px;
    border-radius: 50%;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    opacity:0.5;
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score{
    margin: 50px;
    font-size: 2rem;
}

.player-score
.computer-score{
    font-size: 3rem;

}

#msg{
    background-color: #081b31;
    color: aliceblue;
    display: inline;
    font-size: 4rem;
    border-radius: 30%;
}

.msg-container{
    text-align: center;
}